POSTGRES_DB=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=shared-db
POSTGRES_PORT=5432

BACKUP_PASSWORD=
PGBOUNCER_AUTH_PASSWORD=
PGBOUNCER_ADMIN_PASSWORD=
PGBOUNCER_STATS_PASSWORD=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Ne gün sonra backuplar silinsin
BACKUP_RETENTION_DAYS=15

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SERVER_NAME=
